// The styles of the most important page on the website go here (front-page).
.adsSection{
    text-align: center;
    background-color: black;
    height: 550px;
    padding-top: 25px;
    color: white;
}

.spacer{
    padding-top: 75px;
}